<p id="notice"><%= notice %></p>

<h1>Listing Dinosaurs</h1>

<table>
  <thead>
    <tr>
      <th>Cage</th>
      <th>Name</th>
      <th>Species</th>
      <th>Diet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dinosaurs.each do |dinosaur| %>
      <tr>
        <td><%= dinosaur.cage_id %></td>
        <td><%= dinosaur.name %></td>
        <td><%= dinosaur.species %></td>
        <td><%= dinosaur.diet %></td>
        <td><%= link_to 'Show', dinosaur %></td>
        <td><%= link_to 'Edit', edit_dinosaur_path(dinosaur) %></td>
        <td><%= link_to 'Destroy', dinosaur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dinosaur', new_dinosaur_path %>
