<%= form_for(@cage) do |f| %>
  <% if @cage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cage.errors.count, "error") %> prohibited this cage from being saved:</h2>

      <ul>
      <% @cage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :current %><br>
    <%= f.number_field :current %>
  </div>
  <div class="field">
    <%= f.label :has_power %><br>
    <%= f.check_box :has_power %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
