<p id="notice"><%= notice %></p>

<p>
  <strong>Capacity:</strong>
  <%= @cage.capacity %>
</p>

<p>
  <strong>Current:</strong>
  <%= @cage.current %>
</p>

<p>
  <strong>Has power:</strong>
  <%= @cage.has_power %>
</p>

<%= link_to 'Edit', edit_cage_path(@cage) %> |
<%= link_to 'Back', cages_path %>
